<h2>You need to setup some environment variables</h2>

<ol>
	<li>SalesForce connection properties:
		<ul>
			<li>SalesForce username (CONSUMER_USERNAME)</li>
			<li>SalesForce password (CONSUMER_PASSWORD)</li>
			<li>SalesForce client id (CONSUMER_KEY)</li>
			<li>SalesForce client secret key (CONSUMER_SECRET)</li>
			<li>SalesForce application callback (APP_CALLBACK)</li>
			<li>SalesForce host name (SFDC_HOSTNAME)</li>
		</ul>
	</li>
</ol>

<p><a href="/">Go to index</a></p>
